@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.6.0/style.css');

* {
  box-sizing: content-box;
  line-height: 1.5;
}

strong {
  font-weight: normal;
  text-emphasis-style: dot;
  text-emphasis-position: under;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: under; 
}

.content blockquote {
  border-left: black 4px solid;
  font-style: italic;
  padding: .3rem 1.2rem .2rem 1rem;
}

#main {
  border-style: outset;
  background-color: white;
  margin-top: 16pt;
  padding-left: 32pt;
  padding-right: 32pt;
  margin-bottom: 16pt;
}

#main .toc  {
  border-style: none;
}

/* header */
#header {
  background-color: white;
  min-height: 32pt;
  justify-content: center;
}

#footer {
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link_black {
  color: silver;
}

.date {
  color: gray;
}

#wrapper {
  font-family: 'LXGW WenKai', "Times New Roman", serif;
  background-color: gainsboro;
  padding: 0;
}
