<header class="header">
  <div calss="header-left">
    <img class="header-favicon" src="{{ .Site.Params.headerFavicon | safeURL }}" alt="Longfei's Blog">
  </div>
  <div class="header-nav">
      <nav>
        <span class="nav-bar-item">
          <a href="{{ .Site.BaseURL }}">Home</a>
        </span>
        {{ range .Site.Menus.main }}
        <span class="nav-bar-item">
          <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
        </span>
        {{ end }}
      </nav>
  </div>
  <div calss="header-right">
  </div>
</header>